  $color-primary: #55c57a;
  $color-primary-light: #7ed56f;
  $color-primary-dark: #28b485;
  $color-gray-dark: #777;
  $color-black: #000000;
  $color-secondary-light: #ffb900;
  $color-secondary-dark: #ff7730;
  $color-tertiary-light: #2998ff;
  $color-tertiary-dark: #5643fa;
  $color-gray-light-1: #f7f7f7;
$color-gray-light-2:#eee;
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-white:#fff;

$content-width:100rem;
$story-grid-space:0rem;
  $grid-width: 94rem;
  $row-width: 111rem;
  $grid-space: 9rem;
  $grid-bottom: 8rem;


  $one-of-four: calc( ( 100% - #{$grid-space}*3) / 4);
  $one-of-three:calc( ( 100% - #{$grid-space}*2) / 3);
  $story-text-width:calc( ( 100% - #{$story-grid-space}*3 ) / 4);
  

  $default-font-size:1.6rem;

  
  $row-2-width: 50rem;
  $row-2-space: 0rem;