 .btn{
            &:link,
            &:visited {
                text-transform: uppercase;
                text-decoration: none;
                padding: 15px 40px;
                display: inline-block;
                border-radius: 100px;
                transition: all .2s;
                font-size:$default-font-size;
                position: relative;
                animation: movebtn 2s .75s;
                animation-fill-mode: backwards;
            }
            
            &-white {
                background-color: #fff;
                color: $color-gray-dark;
            }
            
            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 18px 20px rgba(0, 0, 0, 0.8);
            }
            
            &:active {
                transform: translateY(-1px);
                box-shadow: 0 7px 20px rgba(0, 0, 0, .8);
            }
            
            &::after {
                content: "";
                height: 100%;
                width: 100%;
                display: inline-block;
                border-radius: 100px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            
            &-white::after {
                background-color: white;
            }
            
            &:hover::after {
                transform: scale(1.4);
                opacity: 0;
            }
        }
.text-btn{
    &:link,
    &:visited{
            text-decoration: none;
            color: $color-primary;
            display: inline-block;
            border-bottom: 1px solid $color-primary;
            padding:6px;
    }
    &:hover{
          color:white;
          font-size:$default-font-size;
          background-color:$color-primary;
     
          text-decoration: none;
         box-shadow: 0 18px 10px rgba(0, 0, 0, 0.5);
         transform:translateY(-2px);
         transition: all .2s;
    }
    &:active{
        
        box-shadow: 0 7px 20px rgba(0, 0, 0, .8);
        transform:translateY(0);
    }
     
}
        