.footer {
    background-color: $color-gray-dark-3;
   
     height:42rem;
    &-img{
        padding-top: 3rem;
        padding-bottom: 3rem;
        text-align:center;
        padding-top:4rem;
        &-1{
            height:13rem;
            width:13rem;
            box-shadow:0 1rem 2rem $color-black;
        }
    }
    &-col{
        &-1{
            padding-left:16rem;
            width:70rem;
            margin-top:1.5rem;
            display:inline-block;
            &-list{
                border-top:2px solid $color-white;
                display:inline-block;
                 &-li{
                     margin-top:2rem;
                    display:inline-block; 
                    padding-right:2px;
                    padding-left:2px;
                    &:not(:last-child){
                        margin-right:2rem;
                    }
                    &:hover{
                        box-shadow:0 7rem 10rem rgba($color-black, .9);
                        transform:scale(1.2) rotate(-10deg);
                        transition:all .4s;
                        background-color:$color-black;
                    }
                    &-text{
                        text-decoration: none;
                        font-size:1.7rem;
                        font-weight:700;
                        color:white;
                    }
                 }
            }
        }
        &-2{
            padding-left:.5rem;
             margin-top:1rem;
            float: right;
            padding-right: 2rem;
            width: 69rem;
            display: inline-block;
            font-size:1.7rem;
            font-weight:700;
             color:white;
        }
    }
}